<hr>
<div class="email">
  <span class="email">bardhoshii.majlinda&#64;gmail.com</span> <br>
  <a data-testid="linkElement" href="https://www.linkedin.com/in/majlinda-bardhoshi-8254951b7/" target="_blank" class="oRtuWN" aria-label="LinkedIn">
    <img alt="LinkedIn" fetchpriority="high" src="https://static.wixstatic.com/media/fcfebdfae12a44f993a94aeed8e2e66b.png/v1/fill/w_31,h_31,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/fcfebdfae12a44f993a94aeed8e2e66b.png" style="width: 25px; height: 25px; object-fit: cover;">
  </a>
  <div class="footer-copyright">
    <p>Copyright © Untitled. All rights reserved. </p>
  </div>
</div>


