div.email{
  text-align: center;

}
span.email {
  font-size: 20px;
  color: #912b2b;
  padding-top: 100px;
  padding-bottom: 50px;
}
hr{
  margin-top: 60px;
}

.footer-copyright {
  max-width: 568px;
  margin: 10px auto 0;
  text-align: center;
  padding-top: 10px;
  position: relative;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #707070;
}
