<div class="container">
  <h1 class="heading">ABOUT ME</h1>
  <p class="description">
    I am a passionate Java developer with a strong dedication to crafting efficient software solutions. With a deep understanding of data structures, algorithms, and robust object-oriented programming skills, I am eager to apply my expertise to real-world challenges within a dynamic development team. I thrive on translating complex technical concepts into practical solutions that drive meaningful impact.
  </p>

  <h1 class="heading">WORK EXPERIENCE</h1>
  <p class="description">
    As a Senior Delivery Engineer at Engage3, powered by Dexi, I am responsible for creating and maintaining effective web-scrapers that provide clients with reliable and high-quality data. I excel at understanding the business requirements of our clients and converting them into technical solutions. With a keen eye for detail and strong communication skills, I ensure that all services are delivered according to our clients' expectations. I continuously develop my technical skills, including working with spreadsheets, coding, data wrangling, and data visualization, to meet evolving project needs.
  </p>

  <h1 class="heading">EDUCATION AND TRAINING</h1>
  <p class="description">
    I pursued a comprehensive training program at the Software Development Academy (SDA), specializing in Java fundamentals, advanced features, software testing, version control with GIT, design patterns, and database management with SQL. Additionally, I gained proficiency in front-end technologies like HTML, CSS, JavaScript, and Angular, as well as back-end development using Spring Boot. My academic background includes a Master's degree in Information Security from the Faculty of Economics, University of Tirana, where I developed a solid foundation in security database management, cryptology, system analysis, and website testing. Prior to that, I completed a Bachelor's degree in Business Informatics, further enhancing my skills in computer architecture, programming languages, web development, and business management.
  </p>
</div>
