body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #777;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 20px;
}

.heading {
  font-size: 1.7em;
  color: #de0202;
  margin-bottom: 20px;
}

.description {
  font-size: 1.2em;
  color: #777;
  line-height: 1.5;
  margin-bottom: 30px;
}

.container h1 {
  font-weight: bold;
  text-transform: uppercase;
}
