<div class="about-me">
  <div class="header">
    <h1>About Me</h1>
  </div>
  <div class="content">
    <div class="section">
      <p class="about">
        I am a passionate Java developer with a strong dedication to crafting efficient software solutions. <br>
        With a deep understanding of data structures, algorithms, and robust object-oriented programming skills, <br>
        I am eager to apply my expertise to real-world challenges within a dynamic development team. <br>
        I thrive on translating complex technical concepts into practical solutions that drive meaningful impact.
      </p>
    </div>
    <hr>
    <div class="row">
      <div class="section col-md-6">
        <h2>Work Experience</h2>
        <p>
        As a Senior Delivery Engineer at Engage3, powered by Dexi, I am responsible for creating and maintaining effective web-scrapers that provide clients with reliable and high-quality data.
        I excel at understanding the business requirements of our clients and converting them into technical solutions.
        With a keen eye for detail and strong communication skills, I ensure that all services are delivered according to our clients' expectations.
        </p>
      </div>
      <div class="section col-md-6">
        <h2>Education and Training</h2>
        <p>
        I pursued a comprehensive training program at the Software Development Academy (SDA), specializing in Java fundamentals, advanced features, software testing, version control with GIT, design patterns, and database management with SQL.
       Additionally, I gained proficiency in front-end technologies like HTML, CSS, JavaScript, and Angular, as well as back-end development using Spring Boot.
        </p>
      </div>
    </div>
    <a class="btn-more" href="/resume">READ MORE</a>
  </div>
</div>
