<div class="about-me">
  <div class="header">
    <h1>About Me</h1>
  </div>
  <div class="content">
    <div class="section">
      <h2>Professional Summary</h2>
      <p>
        I am a passionate Java developer with a strong dedication to crafting efficient software solutions. <br>
        With a deep understanding of data structures, algorithms, and robust object-oriented programming skills, <br>
        I am eager to apply my expertise to real-world challenges within a dynamic development team. <br>
        I thrive on translating complex technical concepts into practical solutions that drive meaningful impact.
      </p>
    </div>
    <div class="section">
      <h2>Work Experience</h2>
      <p>
        As a Senior Delivery Engineer at Engage3, powered by Dexi, I am responsible for creating and maintaining effective web-scrapers that provide clients with reliable and high-quality data. <br>
        I excel at understanding the business requirements of our clients and converting them into technical solutions. <br>
        With a keen eye for detail and strong communication skills, I ensure that all services are delivered according to our clients' expectations. <br>
        I continuously develop my technical skills, including working with spreadsheets, coding, data wrangling, and data visualization, to meet evolving project needs.
      </p>
    </div>
    <div class="section">
      <h2>Education and Training</h2>
      <p>
        I pursued a comprehensive training program at the Software Development Academy (SDA), specializing in Java fundamentals, advanced features, software testing, version control with GIT, design patterns, and database management with SQL. <br>
        Additionally, I gained proficiency in front-end technologies like HTML, CSS, JavaScript, and Angular, as well as back-end development using Spring Boot.
        <br>My academic background includes a Master's degree in Information Security from the Faculty of Economics, University of Tirana, where I developed a solid foundation in security database management, cryptology, system analysis, and website testing.
        <br>Prior to that, I completed a Bachelor's degree in Business Informatics, further enhancing my skills in computer architecture, programming languages, web development, and business management.
      </p>
    </div>
  </div>
</div>
