<section class="projects">
  <h2>Projects</h2>

  <div class="project">
    <h3>Project 1: Student Management System</h3>
    <p><strong>Description:</strong></p>
    <ul>
      <li>Built a web application for managing student records using Angular.</li>
      <li>Implemented features such as adding, editing, and deleting student data.</li>
      <li>Utilized Angular for UI components and styling.</li>
    </ul>
    <p><strong>Technologies Used:</strong> Angular, TypeScript, HTML/CSS.</p>
    <p><strong>Role:</strong> Sole developer responsible for designing and implementing the entire application.</p>
    <p><strong>Challenges Faced:</strong></p>
    <ul>
      <li>Learning curve with Angular framework and Angular components.</li>
      <li>Handling state management and data persistence.</li>
    </ul>
    <div class="buttons">
      <a href="https://github.com/bardhoshimajlinda/Angular-App" class="button">GitHub Repository</a>
    </div>
  </div>
</section>

<section class="projects">
  <div class="project">
    <h3>Project 2: Weather App</h3>
    <p><strong>Description:</strong></p>
    <ul>
      <li>A simple Angular application that allows users to search for weather information by city name.</li>
      <li>The app utilizes the OpenWeatherMap API to fetch current weather data for the specified city.</li>
      <li>Users can enter a city name into the search input field and click the "Search" button to retrieve the weather information.</li>
    </ul>
    <p><strong>Technologies Used:</strong> Angular, TypeScript, HTML/CSS, OpenWeatherMap API.</p>
    <div class="buttons">
      <a href="https://github.com/bardhoshimajlinda/WeatherApp-angular" class="button">GitHub Repository</a>
    </div>
  </div>
</section>
