<section class="projects">
  <h2>Projects</h2>

  <div class="project">
    <h3>Project 1: Student Management System</h3>
    <p><strong>Description:</strong></p>
    <ul>
      <li>Built a web application for managing student records using Angular.</li>
      <li>Implemented features such as adding, editing, and deleting student data.</li>
      <li>Utilized Angular for UI components and styling.</li>
    </ul>
    <p><strong>Technologies Used:</strong> Angular, TypeScript, HTML/CSS.</p>
    <p><strong>Role:</strong> Sole developer responsible for designing and implementing the entire application.</p>
    <p><strong>Challenges Faced:</strong></p>
    <ul>
      <li>Learning curve with Angular framework and Angular components.</li>
      <li>Handling state management and data persistence.</li>
    </ul>
    <div class="buttons">
      <a href="https://github.com/bardhoshimajlinda/Angular-App" class="button">GitHub Repository</a>
    </div>
  </div>
</section>

<section class="projects">
  <div class="project">
    <h3>Project 2: Weather App</h3>
    <p><strong>Description:</strong></p>
    <ul>
      <li>A simple Angular application that allows users to search for weather information by city name.</li>
      <li>The app utilizes the OpenWeatherMap API to fetch current weather data for the specified city.</li>
      <li>Users can enter a city name into the search input field and click the "Search" button to retrieve the weather information.</li>
    </ul>
    <p><strong>Technologies Used:</strong> Angular, TypeScript, HTML/CSS, OpenWeatherMap API.</p>
    <div class="buttons">
      <a href="https://github.com/bardhoshimajlinda/WeatherApp-angular" class="button">GitHub Repository</a>
    </div>
  </div>
</section>

<section class="projects">
  <div class="project">
    <h3>Project 3: Web Development Projects</h3>
    <p><strong>Description:</strong></p>
    <ul>
      <li>A collection of small web development projects implemented using HTML, CSS, and JavaScript.</li>
      <li>Each project is designed to showcase various functionalities and features.</li>
    </ul>
    <p><strong>Name:</strong></p>
    <ul>
      <li>Calculator</li>
      <li>Counter Program</li>
      <li>Dice Roller Program</li>
      <li>Digital Clock</li>
      <li>Guess The Word Game</li>
      <li>Notes App</li>
      <li>Rock Paper Scissors</li>
      <li>Slide Image</li>
      <li>Stopwatch Program</li>
      <li>To Do List</li>
      <li>Temperature Conversion Program</li>
      <li>Weather App</li>
    </ul>
    <p><strong>Technologies Used:</strong> HTML/CSS, JavaScript, OpenWeatherMap API</p>
    <div class="buttons">
      <a href="https://github.com/bardhoshimajlinda/Simple-projects" class="button">GitHub Repository</a>
    </div>
  </div>
</section>

<section class="projects">
  <div class="project">
    <h3>Project 4: Pizza Ordering Terminal App</h3>
    <p><strong>Description:</strong></p>
    <ul>
      <li>This Java console application provides a simple pizza ordering system.</li>
      <li>Users can interact with the terminal to check existing orders or create new ones.</li>
      <li>The app includes a menu listing pizza options, and users can add items to their order, specifying the quantity of each item.</li>
      <li>Order details, including the total cost, are displayed, and each order is assigned a unique code.</li>
    </ul>
    <p><strong>Technologies Used:</strong> Java, Hibernate, MySQL</p>
    <div class="buttons">
      <a href="https://github.com/bardhoshimajlinda/Practical-Project" class="button">GitHub Repository</a>
    </div>
  </div>
</section>

<section class="projects">
  <div class="project">
    <h3>Project 5: ISS Space Station Tracker</h3>
    <p><strong>Description:</strong></p>
    <ul>
      <li>ISS Space Station Tracker is a Java console application designed to provide real-time information about the International Space Station (ISS) and the astronauts currently in space.</li>
      <li>The application leverages web services to fetch data about the ISS location and the people aboard, syncing the information with a database.</li>
      <li>The app includes a menu listing pizza options, and users can add items to their order, specifying the quantity of each item.</li>
      <li>Users can interact with the application to view the ISS location or get details about astronauts currently in space.</li>
    </ul>
    <p><strong>Technologies Used:</strong> Java, Hibernate, MySQL</p>
    <div class="buttons">
      <a href="https://github.com/bardhoshimajlinda/ISS_Space_Station" class="button">GitHub Repository</a>
    </div>
  </div>
</section>
<app-footer></app-footer>
