<div class="container" id="resume">
  <div class="summary">
    <p class="description">
      Passionate Java developer with a deep understanding of data structures, algorithms, and object-oriented programming.<br>
    </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2 class="sub-heading">Education</h2>
        <ul class="list-styled">
          <li>
            <h5>2022-2023</h5>
            <b>Java from Scratch Training Program</b> - Software Development Academy, Albania</li>
          <li>
            <h5>2019-2021</h5>
            <b>Master of Science in Information Security</b> - Faculty of Economics, University of Tirana, Albania</li>
          <li>
            <h5>2019-2021</h5>
            <b>Bachelor in Business Informatics</b> - Faculty of Economics, University of Tirana, Albania</li>
        </ul>
      </div>

      <div class="col-md-4">
        <h2 class="sub-heading">Work Experience</h2>
        <ul class="list-styled">
          <li>
            <h5>Dec 2020 - Present</h5>
            <b>Senior Delivery Engineer</b> - Engage3 powered by Dexi, Tirane, Albania</li>
            <ul>
              <li>Create and maintain effective web-scrapers for reliable data retrieval.</li>
              <li>Translate business requirements into technical solutions.</li>
              <li>Ensure timely delivery of services according to client contracts.</li>
              <li>Develop technical skills in software, coding, data wrangling, and visualization.</li>
            </ul>
        </ul>
      </div>

      <div class="col-md-4">
        <h2 class="sub-heading">Skills</h2>
        <ul class="list-styled">
          <li>Proficient in Java, SQL, HTML, CSS, JavaScript, Angular, Spring Boot</li>
          <li>Strong understanding of data structures, algorithms, and software testing</li>
          <li>Excellent problem-solving and communication skills</li>
          <li>Experience with web development, database management, and security protocols</li>
          <li class="otherSkills"> Other Skills: <br>
           ▪️️  ️ ️Git
           ▪️  ️JavaScript
           ▪️  ️HTML & CSS
           ▪️  ️Agile (Scrum)
           ▪️  ️Google Drive
           ▪️  ️Angular
           ▪️  ️Spring (Spring Boot, Spring Security)
           ▪️  ️Object-Oriented Programming
           ▪️  ️Java Core (Stream API, Generics, Reflection API, Multithreading)
           ▪️  ️JSON
           ▪️  ️XML
           ▪️  ️XPath
           ▪️  ️CSS3
           ▪️  ️Microsoft Office (MS Office Word, MS Office PowerPoint, MS Office Excel, MS Office Access)
           ▪️  ️App Inventor
           ▪️  ️SPSS
           ▪️  ️Regular Expression
           ▪️  ️PostgresSQL
           ▪️  ️MySQL
           ▪️  ️Relational databases
           ▪️  ️UML
           ▪️  ️JUnit
           ▪️  ️Maven
           ▪️  ️Unit Testing
           ▪️  ️Word Press
           ▪️  ️JDBC & Hibernate
           ▪️  ️Design Patterns (Java)
           ▪️  ️RESTful API
           ▪️  ️JIRA: working with Projects and Issues
           ▪️  ️Figma
           ▪️  ️Airtable (Management Tool)
           ▪️  ️Trello
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
