<div class="container">
  <div class="summary">
    <h2 class="sub-heading">My Resume</h2>
    <p class="description">
      Passionate Java developer with a deep understanding of data structures, algorithms, and object-oriented programming. Dedicated to crafting efficient software solutions and eager to contribute to a dynamic development team.
    </p>
  </div>

  <div class="education-and-experience">
    <div class="education">
      <h2 class="sub-heading">Education</h2>
      <ul>
        <li>Master of Science in Information Security - Faculty of Economics, University of Tirana, Albania (2019-2021)</li>
        <li>Bachelor in Business Informatics - Faculty of Economics, University of Tirana, Albania (2016-2019)</li>
        <li>Java from Scratch Training Program - Software Development Academy, Albania (2022-2023)</li>
      </ul>
    </div>

    <div class="experience">
      <h2 class="sub-heading">Work Experience</h2>
      <ul>
        <li>Senior Delivery Engineer - Engage3 powered by Dexi, Tirane, Albania (Dec 2020 - Present) <br>
          <ul>
            <br>
            <li>Create and maintain effective web-scrapers for reliable data retrieval.</li>
            <li>Translate business requirements into technical solutions.</li>
            <li>Ensure timely delivery of services according to client contracts.</li>
            <li>Develop technical skills in software, coding, data wrangling, and visualization.</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="skills">
    <h2 class="sub-heading">Skills</h2>
    <ul>
      <li>Proficient in Java, SQL, HTML, CSS, JavaScript, Angular, Spring Boot</li>
      <li>Strong understanding of data structures, algorithms, and software testing</li>
      <li>Excellent problem-solving and communication skills</li>
      <li>Experience with web development, database management, and security protocols</li>
    </ul>
  </div>
</div>
