<div class="container">
  <div class="summary">
    <p class="description">
      Passionate Java developer with a deep understanding of data structures, algorithms, and object-oriented programming.<br>
      Dedicated to crafting efficient software solutions and eager to contribute to a dynamic development team.
    </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2 class="sub-heading">Education</h2>
        <ul class="list-unstyled">
          <li>Java from Scratch Training Program - Software Development Academy, Albania (2022-2023)</li>
          <li>Master of Science in Information Security - Faculty of Economics, University of Tirana, Albania (2019-2021)</li>
          <li>Bachelor in Business Informatics - Faculty of Economics, University of Tirana, Albania (2016-2019)</li>
        </ul>
      </div>

      <div class="col-md-4">
        <h2 class="sub-heading">Work Experience</h2>
        <ul class="list-unstyled">
          <li>Senior Delivery Engineer - Engage3 powered by Dexi, Tirane, Albania (Dec 2020 - Present)</li>
          <li>
            <ul>
              <li>Create and maintain effective web-scrapers for reliable data retrieval.</li>
              <li>Translate business requirements into technical solutions.</li>
              <li>Ensure timely delivery of services according to client contracts.</li>
              <li>Develop technical skills in software, coding, data wrangling, and visualization.</li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="col-md-4">
        <h2 class="sub-heading">Skills</h2>
        <ul class="list-unstyled">
          <li>Proficient in Java, SQL, HTML, CSS, JavaScript, Angular, Spring Boot</li>
          <li>Strong understanding of data structures, algorithms, and software testing</li>
          <li>Excellent problem-solving and communication skills</li>
          <li>Experience with web development, database management, and security protocols</li>
        </ul>
      </div>
    </div>
  </div>
</div>
