h2{
  font-size: 28px;
  color: #912b2b;
  margin-bottom: 10px;
  margin-left: 10px;

}

li , .description, .otherSkills{
  font-size: 17px;
  color: #777;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 5px;
}
.description{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
}
h5{
  font-size: 16px;
  color: #ff5d56;
  font-weight: 400;
}
.otherSkills{
  font-size: 14px;
}


